<ion-app>

  <ion-split-pane when="md" contentId="main">

    <!-- menuId: Indica el nombre del menu para ser llamado. En este caso desde inicio.page.html desde un 'ion-menu-button' -->
    <!-- contentId: Indica que contenido ocultar o visualizar. En este caso está asociado al 'ion-router-outlet' -->
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <ion-list>
          <!-- autoHide: Para que por defecto no salgan ocultas todas las opciones -->
          <ion-menu-toggle *ngFor="let c of componentes | async" autoHide="false">
            <ion-item [routerLink]="c.redirectTo" detail>
              <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
              {{ c.name }}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  
    <ion-router-outlet id="main"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
